#derecha, #izquierda{
    outline-style: dotted;
    outline-width: 3px;
    padding: 1em;
    width: 30%;
    height: 3em;
    margin-top: 10px;
    
}
#derecha{
    float: right;
    text-align: right;
    background-color: gray;
}
#izquierda{
    float: left;
    text-align: left;
    background-color: gray;
}
#pie {
    outline-style: groove;
    outline-style: 1px;
    padding: 1em;
    width: 10%;
    height: 1em;
    margin-top: 1ch;
    background-color: gray;
}
#texto{
width: auto;
height: 85;
position:-ms-page;
padding: 20%;
}
#pie{
    position: fixed;
    bottom: 2px;
    padding-left: 45%;
    width: 55%;
}